bin
lib
/include/
db
dbd
*_BAK.adl
documentation.html
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
configure/*.local
O.*/
*~
*.swp
OLD/
libflycap*
*.tar.gz
spincOld/
OLD_INCLUDE/
GUI_OLD/
Interface_OLD/
*.txt
*-amd64/
autosave_OLD/
